body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #782727;
}

.calculator {
    background-color: #bcbcc6;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

#display {
    width: 100%;
    height: 50px;
    background-color: #86be7d;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #387c96;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #548c17;
}

.zero {
    grid-column: span 2;
}
